<p *ngIf = "!(books$ | async)">Loding...</p>
<div class="example-button-row">
  <button 
     mat-raised-button color="primary"
     [routerLink]="'/bookform'">
     Add book
  </button>
 </div>
<mat-accordion>
  <mat-expansion-panel  *ngFor = "let book of books$ | async"> <!--using the observer to see the books-->
    <mat-expansion-panel-header>
      <mat-panel-title>
         {{book.title}}
      </mat-panel-title>
     
    </mat-expansion-panel-header>
     by: {{book.author}}  
     
     &nbsp;

        <button mat-raised-button 
          color="primary"
          (click) = deleteBook(book.id)>
          Delete book
        </button>    
     
     &nbsp;
    
      <button mat-raised-button 
        color="primary"
        [routerLink]="'/bookform/'+book.id">
        Edit book
      </button>    
   
  </mat-expansion-panel>
</mat-accordion>